#body{
    position: fixed;
    width: 200px;
    height: 200px;
    margin: auto;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
}
button{
    border: solid 1px black;
    width: 33.33%;
    height: 33.33%;
    display: inline-block;
    margin: -0.125rem;
    vertical-align: top;
    text-align: center;
    font-size: 40px;
    line-height: 60px;
   
}
.clicked{
 background-color: gray;
}
.buttons{
 background-color: white;
}
.buttons:HOVER {
 background-color: red;
}
#b11{
 top:25px;
 left:25px;
}
#b12{
 top:25px;
 left:200px;
}
#b13{
 top:25px;
 left:375px;
}
#b21{
 top:200px;
 left:25px;
}
#b22{
 top:200px;
 left:200px;
}
#b23{
 top:200px;
 left:375px;
}
#b31{
 top:375px;
 left:25px;
}
#b32{
 top:375px;
 left:200px;
}
#b33{
 top:375px;
 left:375px;
}